﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nancy, Stitch</title>

    <script src="/Scripts/app.stitch" type="text/javascript"></script>
    <script type="text/javascript">
        var Controller1 = require("controllers/controller1");
        
        var controller = new Controller1();
        controller.test();
    </script>
</head>
<body>
    <div class="main">
        <h1>Nancy, Stitch</h1>
    </div>
</body>
</html>